<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solo.body.user.dao.PersonConsultantMapper">
  <resultMap id="BaseResultMap" type="com.solo.body.user.model.PersonConsultant">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="work_company" jdbcType="VARCHAR" property="workCompany" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="person_id" jdbcType="VARCHAR" property="personId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, work_company, job, phone_num, person_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from person_consultant
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from person_consultant
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.solo.body.user.model.PersonConsultant">
    insert into person_consultant (id, name, work_company, 
      job, phone_num, person_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{workCompany,jdbcType=VARCHAR}, 
      #{job,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR}, #{personId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.solo.body.user.model.PersonConsultant">
    insert into person_consultant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="workCompany != null">
        work_company,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="phoneNum != null">
        phone_num,
      </if>
      <if test="personId != null">
        person_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="workCompany != null">
        #{workCompany,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null">
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="personId != null">
        #{personId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.solo.body.user.model.PersonConsultant">
    update person_consultant
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="workCompany != null">
        work_company = #{workCompany,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null">
        phone_num = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="personId != null">
        person_id = #{personId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.solo.body.user.model.PersonConsultant">
    update person_consultant
    set name = #{name,jdbcType=VARCHAR},
      work_company = #{workCompany,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      person_id = #{personId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
<!-- 添加的方法 -->
  <select id="selectBySql"   resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from person_consultant
    where  ${value} 
  </select>
  <select id="selectCount"  resultType="java.lang.Integer">
    select count(1)
    from person_consultant
    where  ${value} 
  </select>  
 
</mapper>