<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style>
	.backgroundDiv{
		background-image: url(../static/img/img1.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		position: absolute;
	}
	body {
	  min-height: 100%;
	  padding: 0px;
	}
	.input-btn{
		background-color: red;
		border-radius: 25px;
		width: 30%;
		height: 3em;
		color: yellow;
		font-size: 2em;
		margin: 2em;
		border: none;
	}
	</style>
	<body >
		<div class="backgroundDiv">
			<div style="text-align: center;position: absolute;bottom: 5px;width: 100%;">
				<input type="button" value="我的页面" class="input-btn" onclick="javascript:location.href='index.html'"/>
				<input type="button" value="活动规则" class="input-btn" onclick="javascript:location.href='test2.html'"/>
			</div>
		</div>
	</body>
</html>
